[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
flask-cors = "*"
email-validator = "*"
flask-login = "*"
flask-swagger-ui = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.11"
